@import url(https://fonts.googleapis.com/css?family=Roboto:300);


body {
  width: 100%;
  background-image: url(https://res.cloudinary.com/dannytebj/image/upload/v1512711045/bg1_yjgudu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  overflow: scroll;
.logo {
 margin-top: 15vh; 
}
.signUp{
  background: white;
  .row {
    margin-bottom: 0;
  }
  .signIn{
    margin-bottom:15vh;
  }
  height: 580px;
  overflow: scroll;
  text-align: left;
  max-width: 530px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 1%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#crossBar {
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    transition: transform .6s;
    padding-top: 20px;
    margin: auto;
    width: 100%;
    background-color: white;
    z-index: 1000;
  &.toggled {
    transform: translateY(0%);
    margin-top: 0px;
    opacity: 0.94;
  }
}

#crossBar.toggled #crossBar-content.toggled {
height: 250px;
}
.toggler{
  float: right;
  cursor: pointer;
  z-index: 1000;
}
#menu-toggle1 {
  bottom: 5px;
}
#search {
  color: white;
}
.ideaList {
  overflow: scroll;
  height: 460px;
  margin-bottom: 25px;
}
.myIdeaList {
  overflow: scroll;
  height: 510px;
  margin-bottom: 25px;
}
.card {
  max-height: 200px;
  .card-title {
    font-size: 18px;
  }
  .card-content {
    overflow: scroll;
    height: 150px;
  }
}
.descriptions {
  font-size: 12px;
   font-family: 'Italiana', serif;
}
.pagination {
  bottom: 20px;
  cursor: pointer;
  li a {
    color: #fafafa;
  }
}
.thumbnails {
  font-size: 9px;
  color: gray;
}
  .rightSide{
    float: right;
  }
.chip{
  font-size: 8px;
}
.headers{
  font-size: 16px;
  font-style: italic;
  font-family: 'Italiana', serif;
}
.header {
  color: white;
}
.modal {
  overflow-y: hidden;
  max-height: 81%;
}
.collection {
  border:none;
}
.updatePassword {
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 55px;
  margin-top: 50px;

}
footer {
  background: #222222;
  height:40px;
  padding:5px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.toggler2 {
  padding: 5px; 
  cursor: pointer;
}
.toggler1 {
  padding: 5px; 
  cursor: pointer;
}
@media only screen and (min-width: 992px){
  .ideaList {
    height: 45vh;
  }
  .myIdeaList {
    height: 70vh;
  }
}
}

